<footer class="footer">
    <div class="footer__container">
        <p class="footer__title">- Get in touch with us -</p>
        <p class="footer__slogan">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. </p>
        <div class="footer__icons">
            <img src="@img/RSS.png" alt="rss">
            <img src="@img/Facebook.png" alt="facebook">
            <img src="@img/Twitter.png" alt="twitter">
            <img src="@img/Dribbble.png" alt="dribbble">
            <img src="@img/Pinterest.png" alt="pinterest">
        </div>
        <p class="footer__subtitle"> Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 / first.last@email.com</p>


    </div>

</footer>