@font-face{
	font-family: beer money;
	font-display: swap;
	src: url("../fonts/beer money.woff2") format("woff2"), url("../fonts/beer money.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Intro;
	font-display: swap;
	src: url("../fonts/Intro.woff2") format("woff2"), url("../fonts/Intro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
